<a href="https://colab.research.google.com/github/cfong32/key-sentence-extraction/blob/main/exp3_loaddataset_sentencize.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q datasets

In [2]:
# import packages
import pandas as pd
from tqdm import tqdm
from datasets import load_dataset
from spacy.lang.en import English

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

# Load CNN/DM dataset

In [3]:
DATASET = 'cnn_dailymail'
CONFIG  = '3.0.0'
SUBSET  = 'test'

dataset = load_dataset(DATASET, CONFIG, split=SUBSET)
df_ds = pd.DataFrame(dataset)
df_ds

WARNING:datasets.builder:Found cached dataset cnn_dailymail (/root/.cache/huggingface/datasets/cnn_dailymail/3.0.0/3.0.0/1b3c71476f6d152c31c1730e83ccb08bcf23e348233f4fcc11e182248e6bf7de)

,article,highlights,id
0,(CNN)The Palestinian Authority officially beca...,Membership gives the ICC jurisdiction over all...,f001ec5c4704938247d27a44948eebb37ae98d01
1,(CNN)Never mind cats having nine lives. A stra...,"Theia, a bully breed mix, was apparently hit b...",230c522854991d053fe98a718b1defa077a8efef
2,"(CNN)If you've been following the news lately,...",Mohammad Javad Zarif has spent more time with ...,4495ba8f3a340d97a9df1476f8a35502bcce1f69
3,(CNN)Five Americans who were monitored for thr...,17 Americans were exposed to the Ebola virus w...,a38e72fed88684ec8d60dd5856282e999dc8c0ca
4,(CNN)A Duke student has admitted to hanging a ...,Student is no longer on Duke University campus...,c27cf1b136cc270023de959e7ab24638021bc43f
...,...,...,...
11485,Telecom watchdogs are to stop a rip-off that a...,Operators are charging up to 20p a minute - ev...,0ac776a4dc09ca97c136f4314fed4defb48a361a
11486,The chilling reenactment of how executions are...,Bali Nine ringleaders will face the firing squ...,fe89a6a2e28d173e5ad4c6d814c15b95aa969e3f
11487,It is a week which has seen him in deep water ...,Hardy was convicted of domestic abuse against ...,ded2f535cd6ab95d11b5f4ea29bbf2b2d3c55c50
11488,"Despite the hype surrounding its first watch, ...",Apple sold more than 61 million iPhones in the...,30ec5f280eee772a73d181bfc8514defd8026434
11489,Angus Hawley's brother has spoken of his shock...,Angus Hawley's brother said his late sibling '...,b4a1738c4a0acdf3d189264a0927005aa5b856d6

# Sentencize one article (by **spacy**)

In [4]:
article = df_ds.iloc[0].article
print(article)

(CNN)The Palestinian Authority officially became the 123rd member of the International Criminal Court on Wednesday, a step that gives the court jurisdiction over alleged crimes in Palestinian territories. The formal accession was marked with a ceremony at The Hague, in the Netherlands, where the court is based. The Palestinians signed the ICC's founding Rome Statute in January, when they also accepted its jurisdiction over alleged crimes committed "in the occupied Palestinian territory, including East Jerusalem, since June 13, 2014." Later that month, the ICC opened a preliminary examination into the situation in Palestinian territories, paving the way for possible war crimes investigations against Israelis. As members of the court, Palestinians may be subject to counter-charges as well. Israel and the United States, neither of which is an ICC member, opposed the Palestinians' efforts to join the body. But Palestinian Foreign Minister Riad al-Malki, speaking at Wednesday's ceremony, said it was a move toward greater justice. "As Palestine formally becomes a State Party to the Rome Statute today, the world is also a step closer to ending a long era of impunity and injustice," he said, according to an ICC news release. "Indeed, today brings us closer to our shared goals of justice and peace." Judge Kuniko Ozaki, a vice president of the ICC, said acceding to the treaty was just the first step for the Palestinians. "As the Rome Statute today enters into force for the State of Palestine, Palestine acquires all the rights as well as responsibilities that come with being a State Party to the Statute. These are substantive commitments, which cannot be taken lightly," she said. Rights group Human Rights Watch welcomed the development. "Governments seeking to penalize Palestine for joining the ICC should immediately end their pressure, and countries that support universal acceptance of the court's treaty should speak out to welcome its membership," said Balkees Jarrah, international justice counsel for the group. "What's objectionable is the attempts to undermine international justice, not Palestine's decision to join a treaty to which over 100 countries around the world are members." In January, when the preliminary ICC examination was opened, Israeli Prime Minister Benjamin Netanyahu described it as an outrage, saying the court was overstepping its boundaries. The United States also said it "strongly" disagreed with the court's decision. "As we have said repeatedly, we do not believe that Palestine is a state and therefore we do not believe that it is eligible to join the ICC," the State Department said in a statement. It urged the warring sides to resolve their differences through direct negotiations. "We will continue to oppose actions against Israel at the ICC as counterproductive to the cause of peace," it said. But the ICC begs to differ with the definition of a state for its purposes and refers to the territories as "Palestine." While a preliminary examination is not a formal investigation, it allows the court to review evidence and determine whether to investigate suspects on both sides. Prosecutor Fatou Bensouda said her office would "conduct its analysis in full independence and impartiality." The war between Israel and Hamas militants in Gaza last summer left more than 2,000 people dead. The inquiry will include alleged war crimes committed since June. The International Criminal Court was set up in 2002 to prosecute genocide, crimes against humanity and war crimes. CNN's Vasco Cotovio, Kareem Khadder and Faith Karimi contributed to this report.

In [5]:
spacy_eng_nlp = English()
spacy_eng_nlp.add_pipe("sentencizer")

for i, sent in enumerate(spacy_eng_nlp(article).sents):
    print(i, sent)

0 (CNN)The Palestinian Authority officially became the 123rd member of the International Criminal Court on Wednesday, a step that gives the court jurisdiction over alleged crimes in Palestinian territories.
1 The formal accession was marked with a ceremony at The Hague, in the Netherlands, where the court is based.
2 The Palestinians signed the ICC's founding Rome Statute in January, when they also accepted its jurisdiction over alleged crimes committed "in the occupied Palestinian territory, including East Jerusalem, since June 13, 2014."
3 Later that month, the ICC opened a preliminary examination into the situation in Palestinian territories, paving the way for possible war crimes investigations against Israelis.
4 As members of the court, Palestinians may be subject to counter-charges as well.
5 Israel and the United States, neither of which is an ICC member, opposed the Palestinians' efforts to join the body.
6 But Palestinian Foreign Minister Riad al-Malki, speaking at Wednesday's ceremony, said it was a move toward greater justice. "
7 As Palestine formally becomes a State Party to the Rome Statute today, the world is also a step closer to ending a long era of impunity and injustice," he said, according to an ICC news release. "
8 Indeed, today brings us closer to our shared goals of justice and peace."
9 Judge Kuniko Ozaki, a vice president of the ICC, said acceding to the treaty was just the first step for the Palestinians. "
10 As the Rome Statute today enters into force for the State of Palestine, Palestine acquires all the rights as well as responsibilities that come with being a State Party to the Statute.
11 These are substantive commitments, which cannot be taken lightly," she said.
12 Rights group Human Rights Watch welcomed the development. "
13 Governments seeking to penalize Palestine for joining the ICC should immediately end their pressure, and countries that support universal acceptance of the court's treaty should speak out to welcome its membership," said Balkees Jarrah, international justice counsel for the group. "
14 What's objectionable is the attempts to undermine international justice, not Palestine's decision to join a treaty to which over 100 countries around the world are members."
15 In January, when the preliminary ICC examination was opened, Israeli Prime Minister Benjamin Netanyahu described it as an outrage, saying the court was overstepping its boundaries.
16 The United States also said it "strongly" disagreed with the court's decision. "
17 As we have said repeatedly, we do not believe that Palestine is a state and therefore we do not believe that it is eligible to join the ICC," the State Department said in a statement.
18 It urged the warring sides to resolve their differences through direct negotiations. "
19 We will continue to oppose actions against Israel at the ICC as counterproductive to the cause of peace," it said.
20 But the ICC begs to differ with the definition of a state for its purposes and refers to the territories as "Palestine."
21 While a preliminary examination is not a formal investigation, it allows the court to review evidence and determine whether to investigate suspects on both sides.
22 Prosecutor Fatou Bensouda said her office would "conduct its analysis in full independence and impartiality."
23 The war between Israel and Hamas militants in Gaza last summer left more than 2,000 people dead.
24 The inquiry will include alleged war crimes committed since June.
25 The International Criminal Court was set up in 2002 to prosecute genocide, crimes against humanity and war crimes.
26 CNN's Vasco Cotovio, Kareem Khadder and Faith Karimi contributed to this report.

# Sentencize all

In [6]:
recs = []
for i, row in tqdm(df_ds.iterrows(), total=len(df_ds)):
    for j, sent in enumerate(spacy_eng_nlp(row['article']).sents):
        recs.append({
            'article_id': row['id'],
            'order'     : j,
            'sentence'  : str(sent),
        })

df_sent = pd.DataFrame(recs)
df_sent

100%|██████████| 11490/11490 [01:05<00:00, 176.21it/s]

,article_id,order,sentence
0,f001ec5c4704938247d27a44948eebb37ae98d01,0,(CNN)The Palestinian Authority officially beca...
1,f001ec5c4704938247d27a44948eebb37ae98d01,1,The formal accession was marked with a ceremon...
2,f001ec5c4704938247d27a44948eebb37ae98d01,2,The Palestinians signed the ICC's founding Rom...
3,f001ec5c4704938247d27a44948eebb37ae98d01,3,"Later that month, the ICC opened a preliminary..."
4,f001ec5c4704938247d27a44948eebb37ae98d01,4,"As members of the court, Palestinians may be s..."
...,...,...,...
387367,b4a1738c4a0acdf3d189264a0927005aa5b856d6,56,"She's pictured here with Nicole, who lives in ..."
387368,b4a1738c4a0acdf3d189264a0927005aa5b856d6,57,"I'm so lucky to be his daughter,' 47-year-old ..."
387369,b4a1738c4a0acdf3d189264a0927005aa5b856d6,58,"Appearing on Ellen last October, Nicole said h..."
387370,b4a1738c4a0acdf3d189264a0927005aa5b856d6,59,Daily Mail Australia has contacted the Kidman ...
387371,b4a1738c4a0acdf3d189264a0927005aa5b856d6,60,"Tribute: A good friend of Mr Hawley, Merivale ..."